<!-- <div id="about" style="margin-bottom: 4rem;"></div> -->
 <app-navbar></app-navbar>
<div class="about-section" id="about" data-aos="zoom-in">
    <h1 class="about-heading">About</h1>
    <h3>Why the Name Brihaspati?</h3>
    <p>The name Brihaspati is inspired by Hindu mythology, where Brihaspati is the guru (teacher) of the gods, symbolizing wisdom, intelligence, and deep knowledge. These characteristics align closely with the purpose of the Brihaspati forensic tool.</p>
    <p>Wisdom & Intelligence – Brihaspati is known for his vast knowledge and guidance. Similarly, the tool leverages AI to intelligently analyze media files, detect prohibited content, and extract crucial forensic data.</p>
    <p>Truth & Justice – As the guru of the gods, Brihaspati represents truth and righteousness. The forensic tool serves a similar purpose by uncovering hidden evidence, ensuring justice, and assisting in digital investigations.</p>
    <p>Data Discovery & Analysis – Just as Brihaspati provides insight and clarity, the tool retrieves media files, chat messages, and transaction details, revealing critical information for cybersecurity and forensic experts.</p>
    <p>By naming the tool Brihaspati, it embodies the essence of wisdom-driven digital forensics, enabling investigators to uncover the truth with precision and intelligence.</p>
</div>
<app-key-features></app-key-features>
<app-data-extraction></app-data-extraction>
<app-footer></app-footer>