<div class="navbar">
    <div class="left">
        <h1 class="logo">Brihaspati</h1>
        <p>The CyberForensic Tool</p>
    </div>
    <nav>
        <ul>
            <li><a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
            <li><a routerLink="/about" routerLinkActive="active">About</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
            <li><a routerLink="/tool" routerLinkActive="active">Tool</a></li>
        </ul>
    </nav>
</div>
