<div class="container">
    <h2>Signup</h2>
    <form (ngSubmit)="onSignup()" #signupForm="ngForm">
      <label>Name:</label>
      <input type="text" [(ngModel)]="signupData.name" name="name" required>
      
      <label>Email:</label>
      <input type="email" [(ngModel)]="signupData.email" name="email" required>
  
      <label>Phone:</label>
      <input type="tel" [(ngModel)]="signupData.phone" name="phone" required>
  
      <label>Password:</label>
      <input type="password" [(ngModel)]="signupData.password" name="password" required>
  
      <button type="submit" [disabled]="!signupForm.valid">Signup</button>
    </form>
  </div>

  <p style="color: white;">alreay have an account? <a routerLink="/login">login</a></p>
  