<div class="home-section">
    <div class="home-left" data-aos="fade-right">
        <h1 class="home-heading">Professional <app-typing-effect></app-typing-effect> <br> With Reliable Service</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis commodi fuga est vel laboriosam accusantium hic neque, voluptatum corrupti, ipsum dolor sapiente repellendus fugit obcaecati esse nisi quaerat delectus mollitia minus vero ipsa qui, corporis assumenda. Facilis perspiciatis error minima?</p>
        <button class="btn-home"><a [routerLink]="['/about']" routerLinkActive="router-link-active" >Learn More</a></button>
    </div> 

    <div class="home-right" data-aos="fade-left">
        <img [src]="imageUrl" alt="">
    </div>
</div>
<app-footer></app-footer>
<!-- <app-footer></app-footer> -->