<div class="key-features" id="features">
    <h1 data-aos="fade-up">Key Features</h1>
    <section class="features" data-aos="zoom-in"> 
        <div class="feature-box">
            <div class="icon">
                <img src="images\security-1.png" alt="Security Services Icon">
            </div>
            <h3>Security Services</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
        </div>
        <div class="feature-box">   
            <div class="icon">
                <img src="images\privacy.png" alt="Data Privacy Icon">
            </div>
            <h3>Data Privacy</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
        </div>
        <div class="feature-box">
            <div class="icon">
                <img src="images\certified-industry.png" alt="Industry Certified Icon">
            </div>
            <h3>Industry Certified</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
        </div>
    </section>
</div>