<!-- <div class="data-extraction">
    <div class="data-left">
        <img src="images\data extraction.png" alt="">
    </div>
    <div class="data-right">
        <div class="data-title">
            <h1>Data Extraction</h1>
        </div>
    </div>
</div> -->

<div class="data-extraction-section">
    <!-- <h1>Data Extraction</h1> -->
    <div class="extract-flex">
        <div class="extract-left" data-aos="fade-right">
            <img src="images\data extraction.png" alt="">
        </div>
        <div class="extract-right" data-aos="fade-left">
            <h1>{{dataHeading}}</h1>
            <p>Brihaspati is an advanced cybersecurity forensic tool designed to facilitate comprehensive data retrieval from connected mobile devices. It enables forensic professionals to extract and analyze critical digital evidence with precision and efficiency.</p>
            <p class="extracted-heading">Extracted Data Categories:</p>
            <!-- <usl> -->
                <p>Media Files – Retrieval of photos, videos, and other multimedia content.</p>
                <p>Chat Messages – Extraction of communication logs from messaging applications.
                </p>
                <p>Bank Transactions – Collection of financial transaction records for forensic examination.
                </p>
                <p> AI Detection - Retrieving photos of prohibited items in india using artificial intelligence.</p>
            <!-- </ul> -->
            
        </div>
    </div>

    <div class="extract-flex" style="flex-direction: row-reverse;">
        <div class="extract-left" data-aos="fade-left">
            <img src="images\data recovery.png" alt="">
        </div>
        <div class="extract-right" data-aos="fade-right">
            <h1>Data Recovery</h1>
            <p>Brihaspati incorporates advanced data recovery techniques to retrieve lost, deleted, or inaccessible digital evidence from mobile devices. This capability is essential for forensic investigations, ensuring that critical information remains recoverable even after intentional or accidental deletion.
            </p>
            <p class="extracted-heading">Key Features of Data Recovery:
            </p>
            <p>Deleted Media Retrieval – Recovers lost or deleted photos, videos, and other multimedia files.</p>
        </div>
    </div>

    <div class="extract-flex">
        <div class="extract-left">
            <img src="images\report generation.png" alt="" data-aos="fade-right">
        </div>
        <div class="extract-right" data-aos="fade-left">
            <h1>Report Generation</h1>
            <p>Brihaspati automatically creates detailed reports by compiling extracted data, AI analysis, and detected issues. These reports are secure, well-structured, and easy to understand. They can be saved in PDF formats making documentation simple and reliable.</p>
            <!-- <p class="extracted-heading">Extracted Data Categories:</p> -->
            <p class="extract-feature">Key Feature:</p>
                <p>
                    Clear and secure reports with AI-powered insights for investigations.</p>
            <!-- </ul> -->
            
        </div>
    </div>

</div>